<h1 style="color:#23395d;font-size: large;">Hello {{name}},</h1>
<span style="color:#23395d;"><h3><span style="color:#23395d;font-size:17px;">Bewalt Limited </span> have received your request. One of our staff will review your request and get back to you on a phone call as soon as possible. </h3>
<h3>Thank you for for contacting us. We will respond to you as soon as possible.</h3>

<h2>Best regards, Bewalt Limited</h2>
<p style="font-style: italic;">Bewalt limited. Diversified services, unvarying quality.</p></span>